<ul>
  <% @user_session.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<%= form_for @user_session, url: login_url do |f| %>
<%= f.text_field :email %>
<%= f.password_field :password %>
<%= f.submit :submit %>
<% end %>
