<!DOCTYPE html>
<html>
  <head>
    <title>BasicRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <ul>
        <% unless current_user %>
          <li><%= link_to 'Login', login_path, class: 'menu' %></li>
        <% end %>
        <% if current_user %>
          <li><%= link_to 'Logout', logout_path, class: 'menu' %></li>
        <% end %>
      </ul>
    </header>

    <div class="contents">
      <%= yield %>
    </div>

    <footer class="footer">
      <ul>
      </ul>
    </footer>
  </body>
</html>
